.paper {
    margin-top: 5;
    margin-bottom: 5%;
}
form {
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
}
textarea {
    resize:none;
    width: 100%;
}
input {
    width: 100%;
}